<h2><%= Comment.model_name.human %></h2>

<% commentable.comments.each do |comment| %>
  <div>
    <% if comment.user.present? %>
      <%= link_to user_path(comment.user) do %>
        <%= comment.user.name.presence || comment.user.email %>
      <% end %>
    <% else %>
      退会ユーザー
    <% end %>

    <%= comment.content %>
    <%= comment.created_at.to_s(:datetime_jp) %>
<% end %>
</div>
<hr>
