<h2><%= Comment.model_name.human %></h2>

<% commentable.comments.each do |comment| %>
  <div>
    <%= link_to user_path(comment.user) do %>
      <%= comment.user.name.presence || comment.user.email %>
    <% end %>
    <%= comment.content %>
    <%= comment.created_at.to_s(:datetime_jp) %>
    <hr>
  </div>
<% end %>
