<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<p>
  <strong><%= Report.human_attribute_name(:title) %></strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %></strong>
  <%= @report.content %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:created_time) %></strong>
  <%= @report.created_at.to_s(:datetime_jp) %>
</p>

<%= render partial: "comments/comments", locals: { commentable: @report } %>
<%= render partial: "comments/form", locals: { commentable: @report } %>


<% if @report.user == current_user %>
  <td><%= link_to t('views.common.edit'), edit_report_path(@report) %></td>
<% else %>
  <td></td>
<% end %>

<%= link_to t('views.common.back'), reports_path %>
