<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @report.content %>
</p>

<p>
  <strong>created_time:</strong>
  <%= @report.created_at.to_s(:datetime_jp) %>
</p>

<% if @report.user == current_user %>
  <td><%= link_to'Edit', edit_report_path(@report) %></td>
<% else %>
  <td></td>
<% end %>
<%= link_to 'Back', reports_path %>
